.container-cabecalho {
    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    margin: 0 auto;
    max-width: 1400px;
}
.menu-item {
    display: inline-block;
    padding: 0 50px 0 0;
    color: black;
}
.ativo {
    color: black;
    font-weight: bold;
}
.menu-item:hover {
    text-decoration: underline;
}