.grid-container {
    background: #f9f9f9;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 100px;
}
.grid {
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    height: 430px;
    margin: 50px;
    width: 350px;
}
.grid-img {
    width: 100%;
}
.grid-subtitulo {
    color: #000000;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 1000;
    font-size: 23px;
    line-height: 27px;
    margin: 20px;
    width: 266px;
}
.grid-text {
    color: #000000;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    margin: 0 0 50px 20px;
    width: 249px;
}
.grid-container-button {
    background: #8D0606;
    border-radius: 5px;
    height: 37px;
    margin: 20px;
    padding: 5px;
    padding-top: 8px;
    text-align: center;
    width: 115px;
}
.grid-button {
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    line-height: 21px;
    font-weight: bold;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}
.grid-container-button:hover {
    background: #700505;
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.9);
}

@media screen and (min-width: 0) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }    
}
@media screen and (min-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }    
}
@media screen and (min-width: 1300px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }    
}
