.grid-container {
    background: #f9f9f9;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
    justify-items: center;
    flex-wrap: wrap;
}
.grid {
    margin: 50px;
    width: 350px;
    height: 430px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}
.grid-img {
    width: 100%;
}
.grid-subtitulo {
    width: 266px;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 1000;
    font-size: 23px;
    line-height: 27px;
    color: #000000;
    margin: 20px;
}
.grid-text {
    width: 249px;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    color: #000000;
    margin: 0 0 50px 20px;
}
.grid-container-button {
    width: 115px;
    height: 37px;
    background: #8D0606;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    padding: 5px;
    padding-top: 8px;
}
.grid-button {
    font-weight: bold;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    cursor: pointer;
}
.grid-container-button:hover {
    transition: all .1s ease-in-out;
    background: #700505;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.9);
    transform: scale(1.1);
}
