.banner-container {
    position: relative;
}
.banner-img {
    width: 100%;
}
.banner-titulo {
    color: #ffff;
    position: absolute;
    left: 140px;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 81px;
    line-height: 142px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    top: 171px;
}
.sobre-subtitulo {
    color: #8D0606;
    font-weight: 400;
    font-family: 'Pacifico';
    font-style: normal;
    font-size: 51px;
    line-height: 90px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
.sobre-texto {
    color: #8C8888;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    margin-left: 203.5px;
    text-align: center;
    width: 993px;
}
@media screen and (min-width: 0) {
    .banner-titulo {
        font-size: 35px;
        top: 40px;
        left: 90px;
    }
    .sobre-subtitulo {
        font-size: 35px;
    }
    .sobre-texto {
        margin-left: 75px;
        font-size: 18px;
        width: 500px;
    }
}

@media screen and (min-width: 999px) {
    .banner-titulo {
        font-size: 81px;
        left: 140px;
        top: 171px;
    }
    .sobre-subtitulo {
        font-size: 51px;
    }
    .sobre-texto {
        font-size: 28px;
        margin-left: 203.5px;
        width: 993px;
    }
}
